
 .p-panel {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1px 1px;
  border-top: 1px solid #383838;
}
.p-menubar {
  vertical-align: middle;
  width: 90%;
  text-align: left;
  margin-top: 15px;
  margin-left: 5%;
  margin-right: 5%;
 
}
